# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.user
*.userprefs
*.opendb
*.VC.db

# Others
*.tmp
*.mdb
*.pdb
.gradle/
